<div class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="saveUser()" autocomplete="off" novalidate>
    <div class="grid">
      <div class="field col-12 md:col-12">
        <label for="fullName">Full Name:* </label>
        <input type="text" pInputText id="fullName" formControlName="fullName">
        <err [control]="form.controls.fullName" attribute="full name"></err>
      </div>
      <div class="field col-12 md:col-12">
        <label for="email">Email:* </label>
        <input type="email" pInputText id="email" formControlName="email">
        <err [control]="form.controls.email" attribute="email"></err>
      </div>
      <div class="field col-12 md:col-12">
        <label for="role">Role:* </label>
        <p-dropdown formControlName="role" [options]="roleList" optionValue="value" id="role" appendTo="body">
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <span>{{ selectedOption.value }}</span>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <span>{{item.value}}</span>
          </ng-template>
        </p-dropdown>
        <err [control]="form.controls.role" attribute="role" ></err>
      </div>
      <div class="col-12 flex justify-content-end pb-0">
        <div>
          <button pButton pRipple label="Accept" icon="pi pi-check" class="p-button-text w-auto" type="submit" [disabled]="!form.valid"></button>
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text w-auto" type="button" (click)="close()"></button>
        </div>
      </div>
    </div>
  </form>
</div>